@{
    ViewBag.Title = "_Layout";
}

<h2>_Layout</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts",false)
</body>
</html>